/* CSS files add styling rules to your content */

body {
  font-family: georgia, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: deepskyblue;
}

h1 {
  color: #373fff;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
